<h1>All Da Haikus</h1>
<!-- <p>Find me in app/views/poems/index.html.erb</p> -->

<a href="/poems/new">Take me to your HaiBoo Maker</a>

<ul>

  <% @poems.each do |poem| %>
    <li>
      <a href="/poems/<%= poem.id %>">
        <%= poem.author.name %>
        <br>
        <%= poem.line_01 %>
        <br>
        <%= poem.line_02 %>
        <br>
        <%= poem.line_03 %>
      </a>
    </li>
  <% end %>

</ul>
