<div id="AllDaHaikusContainer">

<h1>ALL DA HAIKUS...</h1>
<!-- <p>Find me in app/views/poems/index.html.erb</p> -->

<a href="/profile">(Take me to your HaiBoo Maker!)</a>

<div id="EachHaikuHUG">
<ul>
  <% @poems.each do |poem| %>
    <li>
      <a class="each_haiku" href="/api/poems/<%= poem.id %>">
        <br>
        <%= poem.line_01 %>
        <br>
        <%= poem.line_02 %>
        <br>
        <%= poem.line_03 %>
        <br>
          (Author: <%= poem.author.name %>)
      </a>
    </li>
  <% end %>

</ul>
</div>

</div>
